.key {
  display: inline-block;
  text-align: center;
  width: 100px;
  height: 100px;
  font-family: 'Roboto', sans-serif;
  font-size: 80px;
  margin: 5px;
  color: #424242;
  border: 1px solid #424242;
  border-radius: 5px;
}

.notHovered {
  transform: scale(1);
  transition: color .7s ease, box-shadow .5s ease, text-shadow .7s ease, transform .2s ease;
}

.hovered {
  cursor: pointer;
  transform: scale(1.15);
  transition: background-color .2s ease, transform .2s ease;
}

.correct {
  border-color: black;
  color: #c3ffba;
  text-shadow: 0px 0px 10px #39FF14;
}

.incorrect {
  border-color: black;
  color: #ffa8a8;
  text-shadow: 0px 0px 10px red;
}
