.key {
  display: inline-block;
  text-align: center;
  width: 100px;
  height: 100px;
  font-family: 'Roboto', sans-serif;
  font-size: 80px;
  margin: 5px;
  border: 1px solid #D3D3D3;
}

.notHovered {
  background-color: black;
  color: #D3D3D3;
  transform: scale(1);
  transition: background-color .5s ease, transform .2s ease;
}

.hovered {
  cursor: pointer;
  background-color: white;
  color: black;
  transform: scale(1.1);
  transition: background-color .2s ease, transform .2s ease;
}
