.container {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.title {
  color: #ff8ee1;
  text-shadow: 0px 0px 20px #ff00bb;
  font-size: 100px;
}

.difficulty {
  color: #e07cf9;
  text-shadow: 0px 0px 20px #cb00ff;
  font-size: 80px
}

.leaderBoard {
  border: 1px solid white;
  box-shadow: 0px 0px 8px 2px #9800ff, 0px 0px 8px 2px #9800ff inset;
  width: 50%;
  height: 50%;
  font-size: 40px;
  display: table;
  margin: 50px auto;

}
